@import "../../colors";
@import "../../responsive";

/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
  background-color: $darkGrey4;
  position: fixed;
  width: 100%;
  z-index: 1;

  li {
    display: inline-block;
    &.active a {
      background: $darkGrey2;
      color: $white;
    }
  }

  a {
    padding: 0 0.6em;
    margin: 0.5em 0.2em;
    display: block;
    color: $white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background: $darkGrey2;
      color: $white;
    }
    @media (min-width: $screenMedium) {
      padding: 0.2em 1em;
      margin: 0.6em 0.2em;
      font-weight: 600;
    }
  }
}
