$colorLinkedin: #006599;
$colorGithub: #24292e;
$colorStack: #f48024;
$colorSkype: #10bef1;

:host {
  text-align: center;
}

.form-container {
  max-width: 960px;
}

.social {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
    margin: 0.8em;
  }
}

.link-linkedin,
.link-linkedin:hover {
  color: $colorLinkedin;
}

.link-github,
.link-github:hover {
  color: $colorGithub;
}

.link-stackoverflow,
.link-stackoverflow:hover {
  color: $colorStack;
}

.link-skype,
.link-skype:hover {
  color: $colorSkype;
}

.credits {
  margin-top: 2.5em;
}
