<section id="contact">
  <div class="wrapper">
    <h2>Say hello!</h2>
    <p>Or ask me anything.</p>
    <form autocomplete="on">
      <input type="text" placeholder="Name" id="name" required />
      <input type="email" placeholder="Email" id="email" required />
      <input type="text" placeholder="Subject" id="subject" required />
      <textarea placeholder="Message" required></textarea>
      <button class="button submit-button" type="submit">Send Message</button>
    </form>

    <footer>
      <div class="find-me">
        <h3>Find me on ...</h3>

        <ul class="social">
          <li>
            <a
              target="_blank"
              href="//linkedin.com/in/nunoarruda"
              title="LinkedIn"
              class="fa fa-linkedin"
              ><span>LinkedIn</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="//github.com/nunoarruda"
              title="GitHub"
              class="fa fa-github"
              ><span>GitHub</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="//stackoverflow.com/users/2892404/nunoarruda"
              title="Stack Overflow"
              class="fa fa-stack-overflow"
              ><span>Stack Overflow</span></a
            >
          </li>
          <li>
            <a href="skype://nuno-arruda" title="Skype" class="fa fa-skype"
              ><span>Skype</span></a
            >
          </li>
        </ul>
      </div>

      <p class="credits">© Nuno Arruda | Design: HTML5 UP</p>
    </footer>
  </div>
</section>
