<section class="section-spacing" id="contact">
  <div class="container heading-content">
    <h2>Say hello!</h2>
    <p>Or ask me anything.</p>
  </div>

  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit(contactForm.value)"
    class="container form-container"
  >
    <div
      fxLayout="column"
      fxLayout.gt-xs="row wrap"
      fxLayoutAlign="space-between"
      class="section-spacing"
    >
      <mat-form-field appearance="fill" fxFlex fxFlex.gt-xs="49">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex fxFlex.gt-xs="49">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Subject</mat-label>
        <input matInput type="text" formControlName="subject" />
      </mat-form-field>

      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!contactForm.valid || contactForm.pristine || sendingForm"
      >
        <ng-container *ngIf="!sendingForm">Send Message</ng-container>
        <fa-icon *ngIf="sendingForm" [icon]="faSpinner" [spin]="true"></fa-icon>
      </button>
    </div>
  </form>

  <footer>
    <h3>Find me on ...</h3>

    <ul class="social">
      <li>
        <a
          target="_blank"
          href="https://linkedin.com/in/nunoarruda"
          title="LinkedIn"
          class="link-linkedin"
        >
          <fa-icon size="3x" [icon]="faLinkedin"></fa-icon>
        </a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://github.com/nunoarruda"
          title="GitHub"
          class="link-github"
        >
          <fa-icon size="3x" [icon]="faGithub"></fa-icon
        ></a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://stackoverflow.com/users/2892404/nunoarruda"
          title="Stack Overflow"
          class="link-stackoverflow"
        >
          <fa-icon size="3x" [icon]="faStackOverflow"></fa-icon>
        </a>
      </li>
      <li>
        <a href="skype://nuno-arruda" title="Skype" class="link-skype">
          <fa-icon size="3x" [icon]="faSkype"></fa-icon>
        </a>
      </li>
    </ul>

    <p class="credits">© Nuno Arruda</p>
  </footer>
</section>
