<section id="contact">
  <div class="wrapper">
    <h2>Say hello!</h2>
    <p>Or ask me anything.</p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
      <input
        type="text"
        placeholder="Name"
        id="name"
        formControlName="name"
        required
      />
      <input
        type="email"
        placeholder="Email"
        id="email"
        formControlName="email"
        required
      />
      <input
        type="text"
        placeholder="Subject"
        id="subject"
        formControlName="subject"
        required
      />
      <textarea
        placeholder="Message"
        formControlName="message"
        required
      ></textarea>
      <button
        class="button submit-button"
        type="submit"
        [disabled]="sendingForm"
      >
        <ng-container *ngIf="!sendingForm">Send Message</ng-container>
        <i *ngIf="sendingForm" class="fa fa-refresh fa-spin"></i>
      </button>
    </form>

    <footer>
      <div class="find-me">
        <h3>Find me on ...</h3>

        <ul class="social">
          <li>
            <a
              target="_blank"
              href="//linkedin.com/in/nunoarruda"
              title="LinkedIn"
              class="fa fa-linkedin"
              ><span>LinkedIn</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="//github.com/nunoarruda"
              title="GitHub"
              class="fa fa-github"
              ><span>GitHub</span></a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="//stackoverflow.com/users/2892404/nunoarruda"
              title="Stack Overflow"
              class="fa fa-stack-overflow"
              ><span>Stack Overflow</span></a
            >
          </li>
          <li>
            <a href="skype://nuno-arruda" title="Skype" class="fa fa-skype"
              ><span>Skype</span></a
            >
          </li>
        </ul>
      </div>

      <p class="credits">© Nuno Arruda | Design: HTML5 UP</p>
    </footer>
  </div>
</section>
