<div class="container navbar-spacing" id="intro">
  <div fxLayout="column" fxLayout.gt-xs="row">
    <div fxFlex>
      <img src="../../assets/me.jpg" alt="Nuno Arruda's selfie" />
    </div>

    <div fxFlex>
      <div class="wrapper">
        <h1>👋 Hi! I'm <strong>Nuno Arruda</strong>.</h1>
        <p>
          I'm a Result-Oriented
          <strong>Frontend 🅰️Angular Developer</strong>
          from Portugal. I have a passion to bring ideas to life while working
          remotely.
        </p>
        <a mat-raised-button href="#work">Learn about what I do</a>
      </div>
    </div>
  </div>
</div>
