// Import theming functions
@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

:host {
  display: block;
  background-color: mat-color($primary);
}

.navbar-spacing {
  padding-top: 64px;
}

img {
  width: 70%;
  max-width: 340px;
  margin: 0.625em auto 1.75em;
  display: block;
  border-radius: 50%;
}

.wrapper {
  padding: 10px;
}

h1,
p {
  color: white;
}
