@import "../../responsive";
@import "../../mixins";

/* ==========================================================================
   Intro section
   ========================================================================== */

#intro {
  padding-top: 5em;
  background-image: none;
  @media (min-width: $screenMedium) {
    padding-top: 9em;
  }
  @media (min-width: $screenLarge) {
    padding-top: 12em;
  }

  .wrapper {
    @include clearfix;
  }

  img {
    width: 70%;
    max-width: 340px;
    margin: 0.625em auto 1.75em;
    display: block;
    border-radius: 50%;
    @media (min-width: $screenMedium) {
      width: 19.5em;
      margin: 0 2.5em 0 0;
      float: left;
    }
    @media (min-width: $screenLarge) {
      width: 20em;
      margin: 0 2.5em 0 0;
    }
  }

  h1 {
    margin: 0.625em 0 1em;
    font-size: 2.25em;
    line-height: 1.25em;
    font-weight: 300;
    @media (min-width: $screenMedium) {
      margin-top: 0.35em;
      font-size: 3.25em;
      letter-spacing: -0.025em;
      text-align: left;
    }

    strong {
      font-weight: 700;
    }
  }

  p {
    @media (min-width: $screenMedium) {
      font-size: 1.5em;
      line-height: 1.75em;
      text-align: left;
    }
  }
}
