<section class="container section-spacing" id="work">
  <h2>I build amazing things with code.</h2>
  <p>
    I have a passion for translating beautiful designs into functional user
    interfaces and building great web applications.
  </p>

  <div
    fxLayout="column"
    fxLayout.gt-xs="row"
    fxLayoutGap="30px"
    class="section-spacing"
  >
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Design to HTML</mat-card-title>
        </mat-card-header>

        <fa-icon [icon]="faCode" size="5x"></fa-icon>

        <mat-card-content>
          <p>
            I bring design concepts to life with HTML/CSS and I develop
            mobile-first and responsive web pages while keeping an eye on user
            experience, interaction, usability, and accessibility.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Web apps</mat-card-title>
        </mat-card-header>

        <fa-icon [icon]="faCog" size="5x"></fa-icon>

        <mat-card-content>
          <p>
            I code software that runs in a web browser. Web apps are created in
            a browser-supported programming language (JavaScript) and rely on a
            web browser to render the app.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Hybrid apps</mat-card-title>
        </mat-card-header>

        <fa-icon [icon]="faTabletAlt" size="5x"></fa-icon>

        <mat-card-content>
          <p>
            I use web technologies to build mobile and desktop hybrid apps with
            tools like Ionic or Electron. Hybrid apps are cross-platform and are
            built with a single code base.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <p>Wanna see some examples?</p>
  <a mat-raised-button href="#portfolio" color="primary"
    >Check out my latest works</a
  >
</section>
