// Import theming functions
@import '~@angular/material/theming';

$pink: mat-palette($mat-pink);

:host {
  text-align: center;
}

fa-icon {
  color: mat-color($pink);
}

mat-card-content {
  margin-top: 20px;
}
