<section id="work">
  <div class="wrapper">
    <h2>I build amazing things with code.</h2>
    <p>
      I have a passion for translating beautiful designs into functional user
      interfaces and building great web applications.
    </p>

    <ul class="skills">
      <li>
        <i class="fa fa-code"></i>
        <h3>Design to HTML</h3>
        <p>
          I bring design concepts to life with HTML/CSS and I develop
          mobile-first and responsive web pages while keeping an eye on user
          experience, interaction, usability, and accessibility.
        </p>
      </li>
      <li>
        <i class="fa fa-gear"></i>
        <h3>Web apps</h3>
        <p>
          I code software that runs in a web browser. Web apps are created in a
          browser-supported programming language (JavaScript) and rely on a web
          browser to render the app.
        </p>
      </li>
      <li>
        <i class="fa fa-tablet"></i>
        <h3>Hybrid apps</h3>
        <p>
          I use web technologies to build mobile and desktop hybrid apps with
          tools like Ionic or Electron. Hybrid apps are cross-platform and are
          built with a single code base.
        </p>
      </li>
    </ul>

    <p>Wanna see some examples?</p>
    <a href="#portfolio" class="button">Check out my latest works</a>
  </div>
</section>
