/* ==========================================================================
   Colors
   ========================================================================== */

$lightGrey: #888;
$lightGrey2: #999;
$lightGrey3: #bbb;
$mediumGrey: #555;
$mediumGrey2: #666;
$darkGrey: #3e3e3e;
$darkGrey2: #383838;
$darkGrey3: #303030;
$darkGrey4: #282828;
$darkGrey5: #252525;
$darkGrey6: #2E2E2E;
$darkGrey7: #444;

$lightBlue: #76cdf0;
$lightBlue2: #61b8db;
$mediumBlue: #3B95C6;
$darkBlue: #1B75A6;
$fadedBlue: rgba(97,184,219,0);
$solidBlue: rgba(48,141,196,1);

$white: #fff;
$white2: #fafafa;
$white3: #f4f4f4;
$fadedWhite: rgba(255,255,255,0.75);
$fadedWhite2: rgba(255,255,255,0.025);
$fadedWhite3: rgba(255,255,255,0.1);

$pink: #EA8A95;

$black: #181818;
$fadedBlack: rgba(0,0,0,0);
$fadedBlack2: rgba(0,0,0,0.2);
$fadedBlack3: rgba(0,0,0,0.05);
$fadedBlack4: rgba(0,0,0,0.1);
$fadedBlack5: rgba(0,0,0,0.5);
$fadedBlack6: rgba(0,0,0,0.15);

$colorLinkedin: #006599;
$colorGithub: #FAFAFA;
$colorStack: #f48024;
$colorSkype: #10BEF1;
