// bower:scss
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Sass mixins
   ========================================================================== */

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* ==========================================================================
   General setup and styles
   ========================================================================== */

@import "colors";

/* responsive breakpoints */
$screenMedium: 40em;
$screenLarge: 64em;

*, *:before, *:after {
    box-sizing: border-box;
}

body, input, textarea {
    line-height: 1.75em;
    font-size: 0.813em;
    font-family: 'Open Sans', sans-serif;
    color: $lightGrey;
    text-align: center;
    @media (min-width: $screenMedium) {
        font-size: 0.938em;
        line-height: 1.85em;
    }
    @media (min-width: $screenLarge) {
        font-size: 1.063em;
    }
}

h1, h2, h3 {
    font-size: 1.25em;
    margin: 0 0 0.4em 0;
    color: $darkGrey;
    @media (min-width: $screenMedium) {
        margin: 0 0 0.75em 0;
    }
}

@media (min-width: $screenMedium) {
    h2 {
        font-size: 2em;
        letter-spacing: -0.015em;
    }
    
    h3 {
        font-size: 1.5em;
        letter-spacing: -0.015em;
    }
}

a {
    color: $mediumBlue;
    text-decoration: underline;
    transition: color .2s ease-in-out;
    &:hover {
        color: $darkBlue;
    }
}

strong, b {
    font-weight: 600;
    color: $darkGrey;
}

p {
    margin-bottom: 2em;
}

h2 + p {
    font-size: 1.25em;
    margin: 0 0 2em;
    @media (min-width: $screenMedium) {
        margin: 0 0 3em;
    }
}

section {
    padding: 2.5em 0;
    background-image: url(../images/bg.png);
    text-shadow: 1px 1px 0px $white;
    box-shadow: $fadedBlack3 0px 1px 0px 0px inset, $fadedBlack4 0px 2px 3px 0px inset;
    @media (min-width: $screenMedium) {
        padding: 5em 0;
    }
    @media (min-width: $screenLarge) {
        padding: 8em 0;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
}

.button {
    width: 100%;
    display: inline-block;
    color: $white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
    padding: 1em 0;
    margin: 0.25em 0 0.875em;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px $fadedBlack5;
    background: $lightBlue2;
    background-image: linear-gradient(to bottom, $fadedBlue, $solidBlue);
    box-shadow: $darkBlue 0px 0px 0px 1px, $fadedWhite 0px 2px 1px 0px inset;
    transition: background-color .2s ease-in-out;
    &:hover {
        background-color: $lightBlue;
        color: $white;
    }
    @media (min-width: $screenMedium) {
        width: auto;
        font-size: 1.5em;
        letter-spacing: -0.025em;
        padding: 1em 2.35em;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



/* ==========================================================================
   Navigation
   ========================================================================== */

nav {
    background-color: $darkGrey4;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    li {
        display: inline-block;
    }
    
    a {
        padding: 0 0.6em;
        margin: 0.5em 0.2em;
        display: block;
        color: $white;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color .2s ease-in-out;
        &:hover {
            background: $darkGrey2;
            color: $white;
        }
        @media (min-width: $screenMedium) {
            padding: 0.2em 1em;
            margin: 0.6em 0.2em;
            font-weight: 600;
        }
    }
}



/* ==========================================================================
   Hi! section
   ========================================================================== */

#hi {
    padding-top: 5em;
    background-image: none;
    @media (min-width: $screenMedium) {
        padding-top: 9em;
    }
    @media (min-width: $screenLarge) {
        padding-top: 12em;
    }
    
    .wrapper {
        @include clearfix;
    }
    
    img {
        width: 70%;
        max-width: 340px;
        margin: 0.625em auto 1.75em;
        display: block;
        border-radius: 50%;
        @media (min-width: $screenMedium) {
            width: 19.5em;
            margin: 0 2.5em 0 0;
            float: left;
        }
        @media (min-width: $screenLarge) {
            width: 20em;
            margin: 0 2.5em 0 0;
        }
    }
    
    h1 {
        margin: 0.625em 0 1em;
        font-size: 2.25em;
        line-height: 1.25em;
        font-weight: 300;
        @media (min-width: $screenMedium) {
            margin-top: 0.35em;
            font-size: 3.25em;
            letter-spacing: -0.025em;
            text-align: left;
        }
        
        strong {
            font-weight: 700;
        }
    }
    
    p {
        @media (min-width: $screenMedium) {
            font-size: 1.5em;
            line-height: 1.75em;
            text-align: left;
        }
    }
}



/* ==========================================================================
   Work section
   ========================================================================== */

#work {
    background-color: $white2;
}

.skills {
    li {
        margin: 0.625em 0 3em;
        padding: 1.875em 1.250em;
        background: $white;
        box-shadow: $fadedBlack6 0px 0px 0px 1px inset, $fadedBlack4 0px 2px 3px 0px;
        @media (min-width: $screenMedium) {
            margin: 0;
            padding: 2em;
            width: 30%;
            float: left;
            &:first-child + li {
                margin: 0 5%;
            }
            &:last-child {
                float: right;
            }
        }
    }
    @include clearfix;
    
    i {
        font-size: 5em;
        color: $pink;
        display: block;
        margin-bottom: 0.2em;
    }
    
    h3 {
        margin-bottom: 0.25em;
    }
    
    p {
        margin-bottom: 0;
    }
    
    + p {
        font-size: 1.25em;
        @media (min-width: $screenMedium) {
            margin-top: 3em;
        }
    }
}



/* ==========================================================================
   Portfolio section
   ========================================================================== */

#portfolio {
    background-color: $white3;
}

.projects {
    li {
        margin: 0.625em 0 3em;
        background: $white;
        box-shadow: $fadedBlack6 0px 0px 0px 1px inset, $fadedBlack4 0px 2px 3px 0px;
        @media (min-width: $screenMedium) {
            width: 30%;
            min-height: 390px;
            float: left;
            margin-right: 5%;
            &.no-margin {
                margin-right: 0;
            }
        }
        @media (min-width: $screenLarge) {
            min-height: 430px;
        }
        
        p {
            margin: 0 0.6em;
        }
    }
    @include clearfix;
    
    a {
        display: block;
        text-decoration: none;
        padding-bottom: 1.875em;
        color: $lightGrey;
        &:hover h3 {
            color: $darkBlue;
        }
    }
    
    img {
        display: block;
        width: 100%;
    }
    
    h3 {
        margin: 1.2em 0.6em 0.25em;
        transition: color .2s ease-in-out;
    }
    
    + p {
        font-size: 1.25em;
    }
}



/* ==========================================================================
   Contact section
   ========================================================================== */

#contact {
    background-color: $darkGrey3;
    color: $lightGrey2;
    text-shadow: -1px -1px 0px $black;
    h2 {
        color: $white;
    }
}

form {
    margin: 3.2em auto 0;
    max-width: 720px;
}

input, textarea {
    width: 100%;
    border: 0;
    padding: 0.75em;
    font-size: 16px;
    border-radius: 8px;
    background: $darkGrey4;
    box-shadow: $fadedBlack3 0px 2px 5px 0px inset, $fadedWhite2 0px 1px 0px 0px;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    margin: 0 0 1.5em;
    color: $lightGrey3;
    text-align: left;
    &:focus {
        background: $darkGrey5;
    }
    @media (min-width: $screenMedium) {
        font-size: 1em;
    }
}

textarea {
    height: 15em;
    margin-bottom: 2em;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: $mediumGrey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $mediumGrey;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $mediumGrey;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $mediumGrey;
}

button {
    text-align: center;
    border-style: none;
    @media (min-width: $screenMedium) {
        font-size: 1.2em;
    }
}

input:first-child {
    @media (min-width: $screenMedium) {
        width: 48%;
        float: left;
        + input {
            width: 48%;
            float: right;
        }
    }
}

.find-me {
    margin: 4em 0 0;
    padding: 3em 0;
    border-top: solid 1px $fadedBlack5;
    border-bottom: solid 1px $fadedBlack5;
    box-shadow: $fadedWhite3 0px 1px 0px 0px inset, $fadedWhite3 0px 1px 0px 0px;
    @media (min-width: $screenMedium) {
        padding: 5em 0 2em;
    }
    
    h3 {
        color: $white;
    }
}

a[title="Twitter"],a[title="Twitter"]:hover { background-color: $colorTwitter; }
a[title="Facebook"],a[title="Facebook"]:hover { background-color: $colorFacebook; }
a[title="LinkedIn"],a[title="LinkedIn"]:hover { background-color: $colorLinkedin; }
a[title="Google+"],a[title="Google+"]:hover { background-color: $colorGooglePlus; }
a[title="GitHub"],a[title="GitHub"]:hover { background-color: $colorGithub; }
a[title="Skype"],a[title="Skype"]:hover { background-color: $colorSkype; }

.social {
    padding: 1em 0.5em 0;
    @media (min-width: $screenMedium) {
        padding: 0 0.5em 1em;
    }
    
    li {
        display: inline-block;
        margin: 0.8em;
    }
    
    a {
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 34px;
        color: $darkGrey6;
        text-shadow: 1px 1px 0px $fadedWhite3;
        border-radius: 6px;
        transition: background-color .2s ease-in-out, top .2s ease-in-out;
        box-shadow: $darkGrey4 0px 0px 0px 1px, $fadedWhite3 0px 2px 1px 0px inset;
        text-decoration: none;
        position: relative;
        top: 0;
        @media (min-width: $screenMedium) {
            background: $darkGrey7;
            background-image: linear-gradient(to bottom, $fadedBlack, $fadedBlack2);
            &:hover {
                top: -5px;
            }
        }
    }
    
    span {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
}

.credits {
    color: $mediumGrey2;
    margin-top: 2.5em;
    @media (min-width: $screenMedium) {
        font-size: 0.9em;
        margin-top: 7em;
    }
}