<section class="section-spacing" id="portfolio">
  <div class="container heading-content">
    <h2>Awesome work makes happy users.</h2>
    <p>
      I care about each and every pixel as well as every single line of code.
      Credit also goes to the amazing teams I've worked with in the following
      projects.
    </p>
  </div>

  <div class="container-padless">
    <div fxLayout="column" fxLayout.gt-xs="row wrap" class="section-spacing">
      <div fxFlex fxFlex.gt-xs="50" fxFlex.gt-sm="33.3333333333">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Footstock</mat-card-title>
            <mat-card-subtitle>Web & mobile app</mat-card-subtitle>
          </mat-card-header>

          <img
            mat-card-image
            src="../../assets/footstock.jpg"
            alt="Footstock logo"
          />

          <mat-card-content>
            <p>
              Gaming app mixing fantasy football, sports betting, and card
              trading. Built with Ionic 4, Angular 8, TypeScript, and RxJS.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <a
              mat-button
              href="https://apps.apple.com/gb/app/footstock/id1485177050"
              target="_blank"
            >
              APP STORE LINK
            </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex fxFlex.gt-xs="50" fxFlex.gt-sm="33.3333333333">
        <mat-card>
          <mat-card-header>
            <mat-card-title>emily EMR</mat-card-title>
            <mat-card-subtitle>Web app</mat-card-subtitle>
          </mat-card-header>

          <img
            mat-card-image
            src="../../assets/emily-emr.jpg"
            alt="emily EMR logo"
          />

          <mat-card-content>
            <p>
              EMR cloud solution for aesthetic medicine with appointment
              calendar and photo integration. Built with Angular 5 and Firebase.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <a mat-button href="https://emilyemr.com/" target="_blank">
              WEB APP LINK
            </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex fxFlex.gt-xs="50" fxFlex.gt-sm="33.3333333333">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Adobe Spectrum CSS</mat-card-title>
            <mat-card-subtitle>CSS library</mat-card-subtitle>
          </mat-card-header>

          <img
            mat-card-image
            src="../../assets/spectrum.png"
            alt="Adobe and Spectrum logos"
          />

          <mat-card-content>
            <p>
              CSS user interface library for Adobe’s design language. Developed
              using JSON, SUIT CSS, YAML, PostCSS, SVG, and Topdoc.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <a
              mat-button
              href="https://opensource.adobe.com/spectrum-css/"
              target="_blank"
            >
              DOCUMENTATION LINK
            </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex fxFlex.gt-xs="50" fxFlex.gt-sm="33.3333333333">
        <mat-card>
          <mat-card-header>
            <mat-card-title>We3</mat-card-title>
            <mat-card-subtitle>Mobile app</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="../../assets/me3.png" alt="We3 logo" />

          <mat-card-content>
            <p>
              Social network mobile app for iOS and Android to make new
              friendships. Built with Ionic 3, Angular 4, and a REST API.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <a mat-button href="https://www.we3app.com/" target="_blank">
              WEBSITE LINK
            </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex fxFlex.gt-xs="50" fxFlex.gt-sm="33.3333333333">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Inzenius</mat-card-title>
            <mat-card-subtitle>Web app</mat-card-subtitle>
          </mat-card-header>

          <img
            mat-card-image
            src="../../assets/inzenius.png"
            alt="Inzenius app logo"
          />

          <mat-card-content>
            <p>
              Award-winning payroll system used in Australia and New Zealand.
              Built with a REST API, Angular 2, Bootstrap, and Wijmo.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <a
              mat-button
              href="../../assets/inzenius_reference_letter.pdf"
              target="_blank"
            >
              REFERENCE LETTER LINK
            </a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div fxFlex fxFlex.gt-xs="50" fxFlex.gt-sm="33.3333333333">
        <mat-card>
          <mat-card-header>
            <mat-card-title>ZEE</mat-card-title>
            <mat-card-subtitle>Mobile app</mat-card-subtitle>
          </mat-card-header>

          <img mat-card-image src="../../assets/zee.png" alt="Zee logo" />

          <mat-card-content>
            <p>
              Enterprise internal mobile app with messaging and push
              notifications. Built with Ionic 2, Angular 2, and Firebase.
            </p>
          </mat-card-content>

          <mat-card-actions>
            <a
              mat-button
              href="../../assets/zee_screenshot.jpg"
              target="_blank"
            >
              SCREENSHOT LINK
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container heading-content">
    <p>
      You can also check my
      <a href="../../resume.pdf" target="_blank">resume</a>. Want to know more?
    </p>
    <a mat-raised-button href="#contact" color="accent">Get in touch with me</a>
  </div>
</section>
