// Import theming functions
@import '~@angular/material/theming';

$primary: mat-palette($mat-indigo);

:host {
  display: block;
  background-color: mat-color($primary);
}

.heading-content {
  text-align: center;
  color: white;
}

.container-padless {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

mat-card {
  margin: 15px;
}
